<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/cadastro.css">

    
</head>
<body>
        <div class="card">
            <div class="card-top">
                
                <h1 class="tittle">Área de cadastro</h2>
            </div>

            <div class="card-group">
                <label>Usuário</label>
                <input id = "nome" type="text" name="usuario" placeholder="Digite seu Usuário">
            </div>


            <div class="card-group">
                <label>Email</label>
                <input id = "email" type="text" name="email" placeholder="Digite seu Email">
            </div>

                                  
            <div class="card-group">
                <label>Senha</label>
                <input id = "senha" type="password" name="senha" placeholder="Digite sua senha">
            </div>

            <div class="card-group">
                <button onclick="logar()">CADASTRAR</button>
            </div>
        </div>
	<script src="/cadastro.js"></script>
</body>
</html>