<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
    <form action="form">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="assets/login.png" alt="">
                <h1 class="tittle">Área de Atualização</h2>
            </div>

            <div class="card-group">
                <label>ID</label>
                <input type="text" name="usuario" placeholder="Digite o id que você quer atualizar>
            </div>

            
            <div class="card-group">
                <label>Email</label>
                <input type="tel" name="Telefone" placeholder="Digite seu Telefone">
            </div>

            
            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha">
            </div>

            <div class="card-group">
                <button type="submit">ATUALIZAR</button>
            </div>


        </div>
    </form>
    <script src="/update.js"></script>
</body>
</html>